<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="images/create">Imagenes</a>
      </li>
        <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="users/create">Users</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
                <span class="navbar-text">
                    <span class="badge badge-success"></span>
                </span>
      </li>&nbsp;&nbsp;
      <li class="nav-item">
                <span class="navbar-text">
                    <button type="button" class="btn btn-primary btn-sm" >
                        <i class=" fa fa-sign-out" aria-hidden="true"></i>
                  </button>
                </span>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
